.linkIconSpan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.linkIconSVG {
  width: 28px;
  height: 28px;
  color: #808080;
}

.linkShareIconSVG {
  width: 38px;
  height: 38px;
  color: #808080;
}

.linkShareIconSVG:hover {
  color: #3e3f48;
}

.linkIconSVG:hover {
  color: #3e3f48;
}
