.layout {
  display: grid;
}

.contents {
  justify-self: center;
  padding-left: 4rem;
  padding-right: 4rem;
  box-sizing: border-box;
  width: 100vw;
}

@media (min-width: 700px) {
  .contents {
    max-width: 750px;
  }
}

@media (max-width: 700px) {
  .contents {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
