.layout {
  display: grid;
}

.contents {
  justify-self: center;
  margin-left: 4rem;
  margin-right: 4rem;
  max-width: 750px;
}

@media (max-width: 700px) {
  .contents {
    margin-left: 0;
    margin-right: 0;
  }
}
