.root {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.mainContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: #e0e7e8; */
  background-color: #ffffff;
}

.main {
  flex: 1;
  margin: 6.4rem 0;
}

@keyframes fadeInAfter1step {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
