.linkIconSpan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.themeIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.linkIconSVG {
  width: 28px;
  height: 28px;
  color: var(--link-icon);
}

.linkIconSVG:hover {
  color: #3e3f48;
}

.HomeIconSVG {
  color:var(--text-color);
  width:60px;
  height:40px;
  fill: currentColor;

  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  margin-bottom: 3px;
}
