.icon {
  font-size: 1.8rem;
}

.wrapper {
  display: flex;
}

.aboutme {
  display: flex;
  align-items: center;
  padding: 1.6rem 0.8rem;
  margin: auto;
}

.avatar {
  border-radius: 50%;
  width: 9.6rem;
}

.avatarDiv {
  text-align: center;
}

.biography {
  margin-left: 1.6rem;
}

.biography > p {
  font-size: 1.0rem;
  line-height: 1.8;
}

.linkIcon {
  display: flex;
  align-items: center;
  margin: .6rem .7rem 0 0;
  line-height: 1.4;
  text-decoration: none;
}

.social {
  margin-top: .3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.qiitaIcon {
  width: 24px;
  height: 24px;
}
